.contact-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(81, 80, 80);
    min-height: 90vh;
}

.contact-form-container h1{
    margin: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.contact-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.5);
    padding-top: 50px;
}

.contact-container h4{
    margin: 40px 0px 40px 0px;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.contact-container .phone-container{
    margin-bottom: 40px;
    font-size: 1.15rem;
}

.contact-container .phone-container h5{
    text-align: center;
    margin-bottom: 10px;
}

.contact-img-container{
    width: 60%;
}

.contact-img-container img{
    width: 100%;
}

.form-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 50px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(217, 217, 217, 0.5);
    width: 70%;
}

.form-container form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-container form input, textarea, button{
    margin: 40px 0px 0px 0px;
    border: none;
    padding:15px 0px 15px 5px ;
}

.form-container form input::placeholder, textarea::placeholder{
    color: rgb(81, 80, 80);
}

.form-container button{
    margin-bottom: 60px;
    background-color: #ffffff;
    font-weight: 700;
}

.media-container{
    width: 100%;
}

.media-logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.media-logo-container img{
    width: 15%;
}

.media-img-container{
    display: flex;
    justify-content: center;
}

.media-img-container img{
    width: 40px;
    margin: 30px 10px;
}

.success-msg p{
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #1987549a;
    color: white;
    border-radius: 10px;
    transform: translateY(2px);
    transition: ease-in-out 2s;
  }

@media(max-width:768px){
    .form-container form input::placeholder, .form-container form input, .form-container form textarea::placeholder, .form-container form textarea, .form-container form button, .phone-container h5{
        font-size: 0.9rem;
    }
}

@media(max-width:480px){
    .contact-form-container{
        flex-direction: column;
    }

    .contact-container{
        width: 100%;
    }

    .form-main-container{
        width: 100%;
    }

    .media-logo-container img{ 
        width: 25%;
    }

    .media-img-container img{
        width: 30px;
    }
}

@media(max-width:320px){
    .contact-container h1{
        margin: 40px 30px;
    }

    .form-container{
        width: 100%;
    }

    .form-container form input::placeholder, .form-container form textarea::placeholder, .form-container form button{
        font-size: 0.75rem;
    }
}