<nav class="header">
    <ul>
        <% if(typeof(userLogged) != 'undefined') {%> 
            <li> <a href="/all"> Home </a> </li>
            <li> <a href="/create"> Create </a> </li>
            <li> <a href="/edit"> Edit </a> </li>
            <li> <a href="/logout"> Logout </a> </li>
        <% } else {%> 
            <li> <a href="/"> Login </a> </li>
        <% } %> 
    </ul>
</nav>